.nav
    font-size: 0.8em

.header_icon
    font-size: 20px
    color: $Text3 //add onhover color of $FilterBarActive later

ul.nav-hor > li
    float: left

.dropdown-menu
    background-color: $DropDownBg
    opacity $DropDownOpacity

    & > li > a
        transition: all 0.2s
        color: $DropDownText
        opacity 1

        &.active
            color: $DropDownTextHover
            background-color: $DropDownBgHover
            background-image: none
            border-left: 4px solid $FilterBarText

        &:focus,
        &:hover
            color: $DropDownTextHover
            background-color: $DropDownBgHover
            background-image: none
            border-left: 4px solid $FilterBarActive